name: publish

on:
  push:
    branches: master
  pull_request:
    branches: master

permissions:
  contents: read
  deployments: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up typst
        uses: typst-community/setup-typst@v4

      - name: Build document
        run: |
          mkdir -p out
          cp index.html out/index.html
          typst compile src/main.typ out/main.pdf
          typst compile --features=html src/main.typ out/main.html

      - name: Deploy to Cloudflare Pages
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ vars.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy out --project-name=typstart
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
